/* Course Details Heading */
.course__heading {
  background-color: #f5f7f9;
  padding: 3rem;
}

.course__heading-container {
  display: flex;
  flex-direction: column;
}

.course__type {
  padding: 0.8rem 2.5rem;
  background-color: #4260cb;
  color: var(--white-color);
  align-self: flex-start;
  font-family: "RobotoMedium";
  border-radius: 0.6rem;
  margin-bottom: 1rem;
}

.course__name {
  font-size: 3.6rem;
  color: #1b2336;
  font-family: "InterBold";
}

/* Course Details Content */
.course-details {
  width: 100%;
  padding: 3rem;
  font-family: "Roboto";
}

.course-details__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
}

.course-details__content {
  box-shadow: 0 0 40px rgba(29, 58, 83, 0.15);
  border-radius: 1rem;
}

.course-details__header {
  padding: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.course-details__header-list {
  display: flex;
  gap: 2rem;
}

.course-details__header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem 2rem;
  color: #066ac9;
  font-family: "RobotoMedium";
  border-radius: 0.6rem;
}

.course-details__header-item.active {
  background-color: rgba(6, 106, 201, 0.1);
}

/* Course Information */
.course-details__info {
  padding: 3rem;
  color: #747579;
}

.course-details__info h4 {
  font-size: 2rem;
  color: #1b2336;
  margin-bottom: 1.5rem;
}

.course-details__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.course-details__description p:nth-child(2) {
  text-align: justify;
}

.course-details__description span {
  font-family: "RobotoMedium";
  color: #5f5f5f;
}

.course-details__technologies-list {
  display: flex;
  gap: 10rem;
  margin-bottom: 1rem;
}

.course-details__technologies-item {
  color: #747579;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.course-details__technologies-item svg {
  color: var(--primary-color);
  font-size: 1.8rem;
  flex-shrink: 0;
}

.course-details__info-footer {
  font-size: 1.6rem;
}

.course-details__info-footer span {
  font-family: "RobotoMedium";
}

/* Course Instructor */
/* Instructor Main Info */
.course-instructor,
.course-registration {
  padding: 3rem;
  color: #747579;
  font-family: "Roboto";
}

.course-instructor-main {
  display: flex;
  gap: 3rem;
}

.course-instructor-main img {
  width: 28.2rem;
  height: 28.2rem;
  object-fit: cover;
  border-radius: 0.6rem;
}

.course-instructor__name {
  font-size: 2.8rem;
  font-family: "RobotoMedium";
  color: #1b2336;
  margin-bottom: 0.5rem;
}

.course-instructor__links-list {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-top: 1rem;
  gap: 1rem;
  margin-bottom: 2rem;
}

.course-instructor__links-item {
  transition: all 0.3s ease;
}

.course-instructor__links-item:hover {
  transform: translateY(-3px);
}

.course-instructor__links-item.link-github {
  color: #066ac9;
}

.course-instructor__links-item.link-instagram {
  color: #c22b72;
}

.course-instructor__links-item.link-facebook {
  color: #5d82d1;
}

.course-instructor__links-item.link-linkedin {
  color: #238cc8;
}

.course-instructor__links-item.link-telegram {
  color: #2ba2de;
}

.course-instructor__links-item.link-behance {
  color: #0057ff;
}

.course-instructor__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 5rem;
  margin-bottom: 3rem;
}

.course-instructor__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.course-instructor__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  color: rgba(253, 126, 20, 1);
  background-color: rgba(253, 126, 20, 0.1);
  border-radius: 50%;
}

.course-instructor__item-text {
  color: #24292d;
}

.course-instructor__item-text span {
  font-family: "RobotoMedium";
}

.course-instructor__graduation {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #24292d;
}

.course-instructor__graduation-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(245, 247, 249, 1);
  border-radius: 0.6rem;
}

.course-instructor__graduation-text {
  font-family: "RobotoMedium";
}

/* Instructor Description */
.course-instructor__description {
  padding-top: 3rem;
}

.course-instructor__description h4 {
  font-size: 2rem;
  color: #1b2336;
  margin-bottom: 1.5rem;
}

.course-instructor__description p {
  margin-bottom: 2rem;
  text-align: justify;
}

.course-instructor__description-item a {
  color: #066ac9;
}

/* Registration */
.course-registration__content {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.course-registration__content img {
  background-color: rgba(112, 195, 255, 0.5);
  border-radius: 1rem;
  align-self: self-start;
}

.course-registration h3 {
  font-family: "Roboto";
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

#surveyForm {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input,
textarea {
  /* outline: none; */
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f5f7f9;
  border: 1px solid #f5f7f9;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

input::placeholder {
  color: #747579;
}

.promocode-btn {
  margin-bottom: 2rem;
  background: var(--primary-color);
  align-self: flex-start;
  padding: 0.8rem 1.6rem;
  border: none;
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Course Details Main */
.course-details__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.course-details__main-basic {
  padding: 1rem;
  background-color: var(--white-color);
  box-shadow: 0 0 40px rgba(29, 58, 83, 0.15);
  border-radius: 1rem;
}

.course-details__main-basic img {
  width: 100%;
  height: auto;
  border-radius: 0.6rem;
  object-fit: cover;
  margin-bottom: 2rem;
}

.course-details__main-format {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.course-details__main-format div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.course-details__main-format-icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e37112;
  background-color: rgba(247, 193, 46, 0.15);
  border-radius: 100%;
}

.course-details__main-format h4 {
  font-family: "RobotoMedium";
  font-weight: 500;
  font-size: 1.6rem;
}

.course-details__main-format h4 span {
  font-size: 2rem;
  color: #1b2336;
  margin-left: 1rem;
}

.course-details__share {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.2rem;
  background-color: #d1d2d4;
  border-radius: 0.6rem;
  color: #000;
  transition: all 0.3s ease;
  border: none;
}

.course-details__share:hover {
  background-color: #e4e4e4;
}

.course-details__main-discount {
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  background-color: #ee7713;
  color: var(--white-color);
  border-radius: 0.4rem;
}

/* Course Details Info */
.course-details__main-info {
  font-family: "Roboto";
  padding: 2rem 3.5rem;
  background-color: var(--white-color);
  box-shadow: 0 0 40px rgba(29, 58, 83, 0.15);
  border-radius: 1rem;
}

.course-details__main-info ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.course-details__main-info li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.course-details__main-info li div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #24292d;
}

.course-details__main-info li svg {
  color: #066ac9;
}

/* Responives */
@media screen and (max-width: 1176px) {
  .course-details__container {
    gap: 3rem;
  }
}

@media screen and (max-width: 1157px) {
  .course-details__container {
    grid-template-columns: 1.5fr 1fr;
  }

  /* Instructor */
  .course-instructor__name {
    font-size: 2.4rem;
  }

  .course-instructor__list {
    grid-template-columns: 1fr;
  }

  .course-instructor__list {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1105px) {
  .course-instructor__name {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1047px) {
  .course-instructor-main {
    gap: 2rem;
  }
}

@media screen and (max-width: 1160px) {
  .course-registration__content {
    flex-direction: column;
  }

  .course-registration__content img {
    align-self: center;
  }
}

@media screen and (max-width: 1030px) {
  .course-instructor-main {
    flex-direction: column;
  }

  .course-instructor-main img {
    width: 100%;
    height: auto;
  }

  .course-instructor__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

@media screen and (max-width: 986px) {
  .course-details__container {
    grid-template-columns: 1fr;
  }

  .course-registration__content {
    flex-direction: row;
  }

  .course-registration__content img {
    align-self: flex-start;
  }
}

@media screen and (max-width: 575px) {
  .course__heading {
    padding: 2rem 0;
  }

  .course-details {
    padding: 3rem 0;
  }

  .course-details__header-list {
    row-gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .course-details__header-item {
    padding: 0.8rem 1.6rem;
    text-align: center;
  }

  .course-details__technologies-list {
    flex-wrap: wrap;
    row-gap: 0;
  }

  .course-details__main-format {
    padding: 0;
  }

  .course-details__main-format-icon {
    width: 3rem;
    height: 3rem;
  }

  .course-details__main-format h4 span {
    font-size: 1.6rem;
    margin-left: 0;
  }

  .course-details__main-info {
    padding: 2rem 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .course-registration__content {
    flex-direction: column;
  }

  .course-registration__content img {
    width: 100%;
  }

  #surveyForm {
    width: 100%;
  }
}
